<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App | Click here ---> <a href="http://localhost:5500/inv/details/21">Error</a> &lt;--- to see the error!</p>
</footer>