<!-- Display the title of the page in the HTML, which can help SEO -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- To Display Messages -->
<%- messages() %>

<!-- Main content of the page -->
<div>
	<a href="/inventory/add-classification" class="button-link">Add New Classification</a>
	<a href="/inventory/add-inventory" class="button-link">Add New Inventory Item</a>
</div>
