<!-- Display the title of the page in the HTML, which can help SEO -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- To Display Messages -->
<%- messages() %>

<!-- Main content of the page -->
<div>
	<a href="/inv/add-classification" class="button-link">Add New Classification</a>
	<a href="/inv/add-inventory" class="button-link">Add New Inventory Item</a>
</div>
<h2>Manage Inventory</h2>
<p>Use the dropdown to filter items by classification</p>

<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
